[submodule "bl4st"]
	path = submodules/bl4st
	url = https://github.com/emptyflash/bl4st
[submodule "hydra"]
	path = submodules/hydra
	url = https://github.com/hydra-synth/hydra
[submodule "submodules/openscope"]
	path = submodules/openscope
	url = https://github.com/openscope/openscope.git
	branch = v6.28.0
[submodule "submodules/it-tools"]
	path = submodules/it-tools
	url = https://github.com/CorentinTh/it-tools.git
[submodule "submodules/it-tools/"]
	branch = v2024.10.22-7ca5933
[submodule "submodules/adarkroom"]
	path = submodules/adarkroom
	url = https://github.com/doublespeakgames/adarkroom.git
